
@{
    ViewBag.Title = "sorry";
    Layout = null;
}
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />

<div class="alert alert-dismissible alert-warning">
    <a href="@Url.Action("Login")">  <button type="button" class="btn-close" data-bs-dismiss="alert"></button></a>
    <h4 class="alert-heading">Sorry!</h4>
    <p class="mb-0">Incorrect Email Or Password .....</a>.</p>
</div>

